.white-block {
    padding: 15px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.leader-desk-grid {
    width: 75%;
    margin: 0 auto;

    .card {
        border-radius: 10px;
        border: 0;

        &:hover {
            box-shadow: 3px 3px 10px #ddd;
            cursor: default;
        }
    }

    img {
        width: 80px;
        height: 80px;
    }

    .leader-name {
        color: #000000;
        font-family: "Montserrat-SemiBold";
        font-size: 18px;
        letter-spacing: normal;
        margin-bottom: 5px;
    }

    .leader-desc {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: justify;
    }

    .flex-start {
        align-items: flex-start;
    }

    a {
        &:hover {
            filter: opacity(0.5);
        }

        .icon-img {
            width: 20px;
            height: 20px;
        }
    }
}

.heading {
    .info-circle-img {
        height: 15px;
        width: 15px;
    }

    .tooltip-inner {
        background-color: grey !important;
    }

    .tooltip .tooltip-arrow {
        display: none;
    }
}

.sect-wcu{
    .block-lightorange{
        padding: 2rem;
    }
}
.wcu-img {
    img {
        width: 100%;
        height: auto;
        max-width: 570px;
        max-height: 514px;
        object-fit: contain;
    }
}
.sect-leaderdesk {
    background-color: #FFF2F4;
    padding: 3rem 0;
}