
.white-block{
    padding: 15px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.leader-desk-grid{
    width: 75%;
    margin: 0 auto;
    .card{
        border-radius: 10px;
        &:hover{
            box-shadow: 3px 3px 10px #ddd;
            cursor: default;
        }
    }
    img{
        width:80px;
        height:80px;
    }
    .leader-name{
        color:#000000;
        font-family: "Montserrat-SemiBold";
        font-size: 18px;
        letter-spacing: normal;
        margin-bottom: 5px;
    }
    .flex-start{
        align-items: flex-start;
    }
    a{
        &:hover{
            filter: opacity(0.5);
        }
        .icon-img{
            width:20px;
            height:20px;
        }
    }
}
.heading{
    // img{
    //     height:200px;
    // }
    .info-circle-img{
        height:15px;
        width:15px;
    }
    .tooltip-inner {
       
        background-color: grey!important;
      
    }
    .tooltip .tooltip-arrow {
        
        display: none;
       
    }
    
}


.wcu-img{
    position: relative;
    .white-square-box{
        position: absolute;
        z-index: 1;
        top: 35px;
        right: 40px;
        height: 360px;
        background: #fff;
        background-size: 100%;
        display: block;
        width: 400px;
        border-radius: 30px;
    }
    &::before{
        content: "";
        position: absolute;
        z-index: 2;
        top: 35px;
        // right: 40px;
        height: 360px;
        background: url('../images/whychoose_us.png');
        background-size: 100%;
        display: block;
        width: 550px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    &::after{
        content: "";
        background: url('../images/red-border.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 186px;
        height: 430px;
        right: 0px;
        z-index: 0;
    }
}