body{
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 28px;
    }
    h5{
        font-size: 24px;
    }
    h6{
        font-size: 20px;
    }
}
.fixed-top {
    background-color: #FFFFFF;
}

.main-Wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    color: #000000;
}

.site-header {
    max-width: 1400px;
    margin: 0 auto;
    background-color: transparent;
    justify-content: space-between;
}

.color-white {
    color: #FFFFFF;
}
.dsk-fwlogo{
    display: block;
}
.mob-fwlogo{
    display: none;
}
.main-carousel {
    .carousel-item{
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }
}
.title-red {
    color: #C22032;
    font-family: "Montserrat-Medium";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;

}

.title-sm-red {
    color: #C22032;
    font-family: "Montserrat-Medium";
    font-weight: 600;
    font-size: 1rem;
}

.title {
    color: #000000;
    font-family: "Montserrat-Bold";
    font-size: 35px;
    letter-spacing: normal;
}
.title-white {
    color: #FFFFFF;
    font-family: "Montserrat-SemiBold";
    font-size: 25px;
    letter-spacing: normal;
}

.title-md-montbold {
    color: #000000;
    font-family: "Montserrat-Bold";
    font-size: 25px;
    letter-spacing: normal;
}

.title-xls {
    color: #000000;
    font-family: "Montserrat-Bold";
    font-size: 20px;
    letter-spacing: normal;
}

.title-mont-semibold {
    color: #000000;
    font-family: "Montserrat-SemiBold";
    font-size: 35px;
    letter-spacing: normal;
}

.title-lg-mont {
    color: #000000;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    letter-spacing: normal;
}

.title-sm-mont {
    font-family: "Montserrat-regular";
    font-size: 14px;
}

.subtitle-montb {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    line-height: 20px;
}

.block-light {
    background-color: #F9F9F9;
    padding: 35px;
    margin: 20px;
}

.darkgrey-block {
    background-color: #D9D9D9;
    height: 300px;
}

.subtext-mont {
    color: #000000;
    font-family: "Montserrat-regular";
    font-size: 14px;
    line-height: 180%;
}

.title-md {
    color: #000000;
    font-family: "Montserrat-regular";
    font-size: 16px;
}

.title-semibold {
    color: #000000;
    font-family: "Montserrat-SemiBold";
    // font-size: 28px;
    letter-spacing: normal;
}

.title-medium {
    color: #000000;
    font-family: "Montserrat-Medium";
    font-size: 12px;
    letter-spacing: normal;
}

.btn-center-flex {
    display: flex;
    align-content: center;
    justify-content: center;

}

.block-grey {
    background-color: #F9F9F9;
    padding: 40px 0;
}

.block-grey-md {
    background-color: #F3F3F3;
    padding: 40px 0;
}

.block-darkgrey {
    background-color: #EDEDED;
    border-radius: 10px;
    height: 100%;
}
.block-lightorange {
    background-color: #FFF2F4;
    border-radius: 30px;
    padding: 30px;
}

.block-lg-lightorange {
    background-color: #FFF2F4;
}

.red-title-bold {
    color: #C22032;
    font-family: "Montserrat-Bold";
    font-size: 45px;
    letter-spacing: normal;

    span {
        font-family: "Montserrat-Bold";
    }
}

.block-lg-lightorange-noborder {
    background-color: #FFF2F4;
    margin: 60px;
}


.ti-card-name {
    font-family: "Poppins-medium";
    color: #000000;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 0;
}

.ti-card-companyname {
    font-family: "Poppins-regular";
    color: #000000;
    font-size: 16px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 50px;
}
.ti-card-subtext{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-smalltitle {
    font-family: "Poppins-regular";
    color: #000000;
    font-size: 16px;
}

.black-sm-title {
    color: #000000;
    font-family: "Poppins-regular";
    font-size: 14px;
}

.checkedstar {
    color: #C22032;

}

.uncheckedstar {
    color: #FFFFFF;
}

.rating {
    font-size: 30px;
}

.title-poppins-sbold {
    font-family: "Poppins-SemiBold";
    color: #000;
    // font-size: 14px;
}

.pointer-cursor {
    cursor: pointer;
}

.grey-ouline-block {
    border: 1px solid #dee2e6;
    padding: 8px;
    // border-radius: 5px;
    cursor: pointer;
}

.d-flex-common {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;

}


.main-carousel {
    margin-top: 122px;

    .carousel-caption {
        h1 {
            font-family: "Montserrat-Bold";
            font-size: 55px;

            span {
                font-family: "Montserrat-Bold";
                background: url('../images/Red_Rectangle.svg'), url('../images/red_arrows.svg');
                background-size: 100%, 8%;
                background-repeat: no-repeat;
                background-position: right 6px, right -3px;
                padding: 4px;
            }
        }

        p {
            font-size: 20px;
        }

        .input-group {
            .form-control {
                border-radius: 0;
                border: none;
            }
        }

        .input-group-text {
            padding: 0;
            border-radius: 0;

            .form-control {
                border-radius: 0;
                background-color: #F4F4F4;
            }
        }

        .sect-getservice {
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }
    }
}

.btn-getstarted {
    color: #FFF;
    border-radius: 0;
    background: #C22032;
    font-family: "Poppins-regular";
    padding: 12px 42px;
    outline: none;
    cursor: pointer;
    border: 1px solid #C22032;
    white-space: nowrap;

    &:hover {
        background: #ae1d2d;
    }
}

.btn-getstarted-radius{
    color: #FFF;
    border-radius: 30px;
    background: #C22032;
    font-family: "Poppins-regular";
    padding: 12px 42px;
    outline: none;
    cursor: pointer;
    border: 1px solid #C22032;
    white-space: nowrap;


    &:hover {
        background: #ae1d2d;
    }
}
.btn-getstarted-blk {
    color: #FFF;
    border-radius: 0;
    background: #000000;
    font-family: "Poppins-regular";
    padding: 12px 42px;
    outline: none;
    cursor: pointer;
    border: 1px solid #000000;
    white-space: nowrap;

    &:hover {
        background: #373737;
        border: 1px solid #373737;
    }
}

.mt-116 {
    margin-top: 116px !important;
}

.banner-block {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 60%;
        z-index: 5;
        text-align: center;
        padding: 0 2rem;
        left: auto;
        right: 0;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 100%;
            color: #FFFFFF;
            font-size: 55px;
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .search-industry {
            margin: 25px auto 0;

            input {
                border-right: 0;
                border-radius: 0.375rem 0 0 0.375rem;
            }

            .btnsearch {
                width: 60px;
                height: 60px;
                border: none;
                border-radius: 0 0.375rem 0.375rem 0;
                padding: 1px;
                background: #FFFFFF;
                margin-left: 0;
            }
        }
    }
}

.banner-block-lft {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        max-width: 55%;
        z-index: 5;
        text-align: left;
        // padding: 0 2rem;
        left: 2%;
        right: auto;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 65px;
            color: #FFFFFF;
            font-size: 55px;

            .drawn-underline-wh {
                background-position: center 60px;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .sect-getservice {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            max-width: 80%;

            .input-group {
                .input-group-text {
                    padding: 0;
                    border-radius: 0;

                    .form-control {
                        border-radius: 0;
                        background-color: #F4F4F4;
                    }
                }

                .form-control {
                    border-radius: 0;
                    border: none;
                }
            }
        }

    }
}


.banner-block-lft-partner {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        max-width: 55%;
        z-index: 5;
        text-align: left;
        // padding: 0 2rem;
        left: 2%;
        right: auto;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 65px;
            color: #FFFFFF;
            font-size: 55px;

            .drawn-underline-wh {
                background-position: center 60px;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .sect-getservice {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            max-width: 80%;

            .input-group {
                .input-group-text {
                    padding: 0;
                    border-radius: 0;

                    .form-control {
                        border-radius: 0;
                        background-color: #F4F4F4;
                    }
                }

                .form-control {
                    border-radius: 0;
                    border: none;
                }
            }
        }

    }
}

.block-banner-thankyou {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .content-thankyou {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%!important;
        z-index: 5;
        text-align: center;
        padding: 0 2rem;
        left: auto;
        right: 0;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 100%;
            color: #FFFFFF;
            font-size: 55px;
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .search-industry {
            margin: 25px auto 0;

            input {
                border-right: 0;
                border-radius: 0.375rem 0 0 0.375rem;
            }

            .btnsearch {
                width: 60px;
                height: 60px;
                border: none;
                border-radius: 0 0.375rem 0.375rem 0;
                padding: 1px;
                background: #FFFFFF;
                margin-left: 0;
            }
        }
    }
}


.drawn-underline {
    display: inline;
    padding-bottom: 1.25rem;
    background-image: url('../images/drawn-underline.svg');
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 100% 18%;
    font-style: normal;
    font-family: "Montserrat-Bold";
}

.drawn-underline-wh {
    display: inline;
    padding-bottom: 1.25rem;
    background-image: url('../images/drawn-underline-white.svg');
    background-repeat: no-repeat;
    background-position: center 45px;
    background-size: 100% 18%;
    font-style: normal;
    font-family: "Montserrat-Bold";
}

.arrowBtn {
    display: flex;
    position: relative;
    border-radius: 0;
}

.u-button-arrow {
    background-color: #C22032;
    position: relative;
    overflow: hidden;
    border: none !important;
}

.u-button-arrow {
    &::before {
        content: "";
        background-image: url('../images/whitearrow.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: var(--arrow-filter);
        transition: opacity 1.3s, transform 0.7s;
    }

    &::after {
        content: "";
        background-image: url('../images/whitearrow.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: var(--arrow-filter);
        transition: opacity 1.3s, transform 0.7s;
    }
}

.btn-red.arrowBtn {
    padding: 0;
    text-decoration: none;

    span {
        border-left: 1px solid #FFFFFF;
        padding: 8px 25px;
    }
}


.u-button-arrow {
    &::before {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.u-button {
    &:hover {
        .u-button-arrow {
            &::before {
                opacity: 1;
                transform: translateX(0);
            }

            &::after {
                opacity: 0;
                transform: translateX(100%);
            }
        }
    }

    &:active {
        .u-button-arrow {
            &::before {
                opacity: 1;
                transform: translateX(0);
            }

            &::after {
                opacity: 0;
                transform: translateX(100%);
            }
        }
    }
}

.sect-homeservice {
    .subtext-mont {
        line-height: 30px;
    }
}

.industries-slider {
    .slick-arrow {
        display: none !important;
    }

    .slick-slide {
        margin-left: 15px;
        margin-right: 15px;
    }

    a {
        position: relative;
        overflow: hidden;

        img {
            position: relative;
            border-radius: 25px;
        }

        .hover-text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(0, 0, 0, 0.5);
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Poppins-semibold";
            font-size: 25px;
            padding: 20px;
            text-align: center;
            border-radius: 25px;
        }

        &:hover .hover-text {
            opacity: 1;
            border-radius: 25px;
        }
    }

}

.home-service-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: default;
    padding: 5px;

    &:hover {
        box-shadow: 2px 2px 10px #ddd;
        border-radius: 5px;
    }
    img{
        width:70px;
        height:70px;
    }
}

.feature-section {
    .row {
        .col-md-3 {
            cursor: default;
            h5{
                color: #000000;
                font-family: "Montserrat-SemiBold";
                letter-spacing: normal;
            }
            p {
                cursor: default;
            }

            img {
                width: 90px;
                height: 90px;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            &:hover {
                img {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}

.sect-datetime {
    .input-group-text {
        img {
            width: 20px;
            height: 20px;
        }
    }
}

.subtext-mont {
    font-family: "Montserrat-regular";
}

.sect-transresults {
    h2 {
        color: #000000;
        font-family: "Montserrat-SemiBold";
        font-size: 25px;
        letter-spacing: normal;
    }

    h3 {
        color: #000000;
        font-family: "Montserrat-Bold";
        font-size: 35px;
        letter-spacing: normal;

        span {
            font-family: "Montserrat-Bold";
        }
    }
}

.sect-oneapp {
    .row {
        .col-md-3 {
            cursor: default;
            margin-bottom: 20px;

            p {
                cursor: default;
            }

            img {
                width: 80px;
                height: 80px;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            &:hover {
                img {
                    -webkit-transform: scale(1.1) rotate(10deg);
                    transform: scale(1.1) rotate(10deg);
                }
            }
        }
    }
}

.trusted-industries-slider {
    margin-top: -100px;
    // padding: 0 30px;

    .slick-track {
        top: 15px;
        margin-bottom: 28px;

        .slick-slide {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.ti-card {
    background-color: #FFFFFF;
    background-image: url('../images/fieldservicebackground.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 10px;
    background-size: 85%;
    border-radius: 5px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #ddd;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    img {
        margin: auto;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.customer-app-slider {
    margin-top:10px;
    padding: 0 30px;

    .slick-track {
        top: 15px;
        margin-bottom: 28px;

        .slick-slide {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
.ti-card {
    background-color: #FFFFFF;
    background-image: url('../images/fieldservicebackground.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 10px;
    background-size: 85%;
    border-radius: 5px;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #ddd;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    img {
        margin: auto;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.mt-6 {
    margin-top: 3.5rem;
}

.mt-7 {
    margin-top: 4rem;
}

.mt-8 {
    margin-top: 4.5rem;
}

.mt-9 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 6.875rem;
}

.mt-20 {
    margin-top: 13.75rem;
}

.mb-6 {
    margin-bottom: 3.5rem;
}

.mb-7 {
    margin-bottom: 4rem;
}

.mb-8 {
    margin-bottom: 4.5rem;
}

.mb-9 {
    margin-bottom: 5rem;
}

.mb-10 {
    margin-bottom: 6.875rem;
}

.mt-20 {
    margin-top: 13.75rem;
}

.trusted-companies {
    width: 75%;
    margin: 0 auto;

    .slick-slide {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.sect-oneapp {
    .grid-list {
        width: 75%;
        margin: 0 auto;
    }
}

.sect-rating {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 6px;

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
}

.sect-demo {
    background-image: url('../images/dotsbackground.svg');
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 3rem !important;
    background-size: 100%;

    .block-lightorange {
        // margin: -100px 3rem 2rem;
        width: 1400px;
        margin: -100px auto 0 auto;
        .sect-demo-email {
            display: flex;
            gap: 20px;
            grid-gap: 20px;
            width: 50%;
            margin: 25px auto;

            .form-control {
                border-radius: 0;
            }
        }
    }

    .sect-demo-cn {
        display: flex;
        gap: 20px;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;

        p {
            font-family: "Poppins-semibold";
            color: #535353;

            &.cn-google {
                font-size: 2rem;
            }

            &.cn-playstore {
                font-size: 1.6rem;
            }

            &.cn-capterra {
                font-size: 1.3rem;
            }

            &.cn-sofadvice {
                font-size: 1rem;
            }
        }
    }

    .subtitle {
        font-size: 16px;
        letter-spacing: 4px;
        line-height: 30px;
        font-family: "Poppins-regular";
    }

    h2 {
        font-family: "Poppins-bold";
        line-height: 40px;

        .drawn-underline {
            background-position: center 38px;
            font-style: italic;
        }
    }

    .subtext {
        font-size: 20px;
    }
}

.top-wrapper {
    margin-top: 122px;
}

.sect-about {
    h3 {
        font-size: 24px;
    }
}

#gd-industries {
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .form-control {
        padding: 12px;
    }
}

.gd-gridlist {
    li {
        width: 50%;
        flex-shrink: 0;
        padding: 5px;

        a {
            border: 1px solid #cdcdcd;
            padding: 12px;
            display: block;
            text-align: center;
            text-decoration: none;
            color: #000;

            &:hover {
                background: #ffebeb;
                border: 1px solid #ffebeb;
                color: #000;
                text-decoration: none;
            }
        }

    }
}

.gd-active {
    background: #ffebeb;
    border: 1px solid #ffebeb !important;
}

#gd-technician {
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

#getdemoModal {
    .modal-header {
        gap: 15px;
        grid-gap: 15px;
    }
}

.btn-grey {
    color: #000000;
    border-radius: 0;
    background: rgba(243, 243, 243, 1);
    font-family: "Poppins-regular";
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(243, 243, 243, 1);

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #C22032;
        color: #C22032;
    }
}

.block-red {
    background: #C22032;
    padding: 8px 15px;
    margin-top: -41px;
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 10%;
    right: 10%;
}

.btn-white {
    border-radius: 0;
    background: #FFFFFF;
    color: #000000;
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.client-review {
    margin: 10px;

    .review-card {
        background-image: url('../images/quote-start.svg'), url('../images/whatsapp-icon.svg'), url('../images/whatsapp-icon.svg'), url('../images/whatsapp-icon.svg'), url('../images/quote-end.svg');
        background-size: 10%, 2%, 3%, 4%, 10%;
        background-position: left top, 40% 42%, 30% 86%, 68% 50%, right bottom;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-color: #FFF4F4;
        border-radius: 60px;
        padding: 20px;
        box-shadow: 10px 10px 10px #f0f0f0;
        margin: 20px;
        cursor: pointer;

        .review-card-content {
            padding: 50px 0;
            max-width: 70%;
            margin: 0 auto;

            p {
                color: #818181;
                line-height: 35px;
            }

            h5 {
                font-family: "Poppins-regular";
                color: #C22032;
            }
        }

        .sect-rating {
            ul {
                li {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: #333;
            width: 186px;
            height: 430px;
            right: 0px;
            z-index: 0;
        }
    }
}

.btn-getdemo-wh {
    color: #000000;
    border-radius: 0;
    background: #FFFFFF;
    font-family: "Poppins-regular";
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: 0.3s;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        color: #FFFFFF;
        background: #c22032;

        img {
            filter: invert(1);
        }
    }
}

.learnmore-block {
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    padding: 35px 75px;
    background-image: url('../images/get_demo.svg');
    background-size: 28%;
    background-position: right 7% bottom;
    background-repeat: no-repeat;

    p {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    h3 {
        font-family: "Poppins-semibold";
        font-size: 30px;

        span {
            font-family: "Poppins-semibold";
            font-style: italic;
        }
    }
}

.showcase-block {
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    padding: 50px 75px;
    background-image: url('../images/get_demo.svg');
    background-size: 28%;
    background-position: right 7% bottom;
    background-repeat: no-repeat;

    p {
        font-family:'Montserrat-SemiBold' ;
    }

    h3 {
        font-family: 'Montserrat-SemiBold';
        font-size: 35px;
    }
}



.wrapper-head {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    h2 {
        &::after {
            content: "";
            display: block;
            padding-bottom: 1.25rem;
            background-image: url('../images/drawn-underline.svg');
            background-repeat: no-repeat;
            background-position: center 85%;
            background-size: 100% 70%;
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            right: 0;
        }
    }
}

.f-list {
    gap: 5px;
    grid-gap: 5px;
    padding-left: 0;

    li {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 12px 0;
        gap: 10px;
        border-bottom: 1.5px solid #000;
        font-family: "Montserrat-Medium";
        font-weight: 600;

        &:last-child {
            border-bottom: 0;
        }
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.banner-block-rht {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: contain;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        max-width: 55%;
        z-index: 5;
        text-align: left;
        // padding: 0 2rem;
        right: 2%;
        left: auto;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 65px;
            color: #FFFFFF;
            font-size: 55px;

            .drawn-underline-wh {
                background-position: center 60px;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .sect-getservice {
            display: flex;
            gap: 20px;
            // margin-top: 20px;
            margin: 20px auto 0;
            max-width: 80%;

            .input-group {
                .input-group-text {
                    padding: 0;
                    border-radius: 0;

                    .form-control {
                        border-radius: 0;
                        background-color: #F4F4F4;
                    }
                }

                .form-control {
                    border-radius: 0;
                    border: none;
                }
            }
        }

    }
}
.banner-block-center {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: contain;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 55%;
        z-index: 5;
        text-align: left;
        padding: 0 2rem;
        right: 0;
        left: 0;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 65px;
            color: #FFFFFF;
            font-size: 55px;

            .drawn-underline-wh {
                background-position: center 60px;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

    }
}
.block-black {
    border-radius: 30px;
    padding:50px;
    background-color: #000000;
}
.block-black2 {
    border-radius: 10px;
    background-color: #000000;
    height: 100%;
}
.banner-block-center2 {
    position: relative;
    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: contain;
            object-position: top;
        }
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 100%;
        z-index: 5;
        text-align: left;
        padding: 0 2rem;
        right: 0;
        left: 0;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 65px;
            color: #FFFFFF;
            font-size: 55px;

            .drawn-underline-wh {
                background-position: center 60px;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

    }
}
.custom-tabs {

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: #c22032;
        color: #FFFFFF;
        border: 2px solid #c22032;
    }

    .nav-pills {
        .nav-link {
            background-color: rgb(255 255 255);
            color: #000000;
            border-radius: 0;
            border: 2px solid #ddd;

            &:hover {
                background-color: #c22032;
                box-shadow: 3px 3px 10px #dedede;
                border: 2px solid #c22032;
                color: #FFFFFF;
            }
        }
    }
}
#btnScrollTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #C22032;
    color: white;
    cursor: pointer;
    padding: 12px 7px;
    border-radius: 25px;
    img{
        width: 18px;
        height: 18px;
        display: block;
    }
  }
  
  #btnScrollTop:hover {
    background-color: #ae1d2d;
  }

.btn-bright-red{
    color: #FFF;
    border-radius: 10px;
    background: linear-gradient(85.85deg, #F1374C 2.1%, #E83347 99.6%);
    font-family: "Poppins-regular";
    padding: 8px 25px;
    outline: none;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #F1374C;
    &:hover{
        background: #F1374C;
        box-shadow: 3px 3px 10px #dedede;
    }
}

.btn-brown-radius{
    color: #FFF;
    border-radius: 10px;
    background: #C22032;
    font-family: "Poppins-regular";
    padding: 8px 15px;
    outline: none;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #C22032;
    &:hover{
        background: #ae1d2d;
        box-shadow: 3px 3px 10px #dedede;
    }
}
.divider{
    height: 0.7px;
    background-color: #C5C5C5;
    margin:20px 150px;
}
.margin-btm{
    margin-bottom: 4rem;
}
.margin-sm-btm{
    margin-bottom: 2rem;
}
.margin-tp-lg{
    margin-top: 5rem!important;
}
.margin-btm-lg{
    margin-top: 5rem!important;
}
.margin-tp-xl{
    margin-top: 8rem!important;
}
.margin-btm-xl{
    margin-bottom: 8rem!important;
}
.store-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    li {
        padding: 0;
        display: inline-block;

        a {
            text-decoration: none;
            -webkit-transition: -webkit-transform ease-out 0.4s;
            -moz-transition: -moz-transform ease-out 0.4s;
            transition: transform ease-out 0.4s;
            display: block;
            border-radius: 50%;

            img {
                width: 128px;
                height: 45px;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            &:hover {
                img {
                    -webkit-transform: scale(0.97);
                    -moz-transform: scale(0.97);
                    -ms-transform: scale(0.97);
                    transform: scale(0.97);
                    box-shadow: 4px 4px 10px #444;
                }
            }

        }
    }
}
.fw-att-features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}