
.color-white{
    color:#FFFFFF;
}
.main-carousel{
    padding-top:130px;
}
.title-red{
    color:#C22032;
    font-family: "Montserrat-Medium";
    font-size: 20px;
    letter-spacing: 2px;
    
}
.title{
    color:#000000;
    font-family: "Montserrat-Bold";
    font-size: 30px;
    letter-spacing: normal;  
}
.title-sm{
    color:#000000;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    letter-spacing: normal;  
}

.title-sm-para{
    color:#000000;
    font-family: "Montserrat-regular";
    font-size: 10px;
    letter-spacing: normal;  
}
.block-light{
    background-color: #F9F9F9;
    padding:35px;
    margin:20px;
}
.title-lg-para{
    color:#000000;
    font-family: "Montserrat-regular";
    font-size: 14px;
    line-height: 180%;
    
}
.title-md{
    color:#000000;
    font-family: "Montserrat-regular";
    font-size: 14px;
}
