
.sub-tab {
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: rgba(194, 32, 50, 1);
        color: #FFFFFF;
        border: 1px solid #c22032;
    }

    .nav-link {
        background: rgba(243, 243, 243, 1);
        color: #000000;
    }
}

.sub-content {
    .card {
        img {
            border-radius: 0;
            ;
        }
    }

    .card-body {
        background-color: rgba(240, 240, 240, 1);
    }

    .text-left {
        text-align: left;
    }

    .tab-anchor {
        a {
            text-decoration: none;
        }
    }
}

.lineargradiant-block {
    border: 1px solid rgba(158, 158, 158, 1);
}

.d-flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.feature-img {
    height: 30px;
    width: 30px;
}

.quote-grey-block {
    background-color: rgba(243, 243, 243, 1);
    border-radius: 10px;
    position: relative;

    h5 {
        font-family: "Montserrat-SemiBold";
    }
}

.job-list {
    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;

        li {
            border-right: 2px solid #ddd;
            display: inline-block;
            padding: 0px 10px;
            color: #929292;

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.sect-jobquote {
    background-color: #F3F3F3;
    padding: 40px;
    border-radius: 20px;

    p {
        line-height: 28px;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            text-decoration: none;
            display: flex;
            gap: 10px;
            grid-gap: 10px;
            align-items: start;
            padding: 7px 0;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}