// Header
.navbar-brand {
    img {
        height: 70px;
    }
}

.btn-outline-black {
    color: #000;
    background: #FFFFFF;
    border: 1px solid #000;
    font-family: "Montserrat-Regular";
    padding: 8px 15px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #ffffff;
        border: 1px solid #353535;
        // box-shadow: 3px 3px 10px #dedede;
        background-color: #353535;
    }
}

.btn-red {
    color: #FFF;
    border-radius: 0;
    background: #C22032;
    font-family: "Montserrat-Regular";
    padding: 8px 15px;
    outline: none;
    width: fit-content;
    cursor: pointer;
    border: 1px solid #C22032;

    &:hover {
        background: #ae1d2d;
        // box-shadow: 3px 3px 10px #dedede;
    }
}

.header-top {
    text-align: right;
    padding-top: 10px;

    ul {
        list-style: none;
        margin-bottom: 0;

        li {
            display: inline-block;
            font-family: "Montserrat-Medium";
            color: #fff;
        }

        a {
            text-decoration: none;
            font-family: "Montserrat-Medium";
            color: #fff;
        }
    }
}


.signin-size {
    height: 15px;
    width: 15px;
    filter: invert(1);
}
.sidenav{
    .signin-size {
        filter: none;
    }
}



// Navbar
.site-header {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #fff;
                font-family: 'Montserrat-SemiBold';
                border-bottom: 3px solid transparent;
            }
        }
    }

    .navbar {
        padding-top: 0;
    }

    .nav-link {
        padding: 0.4rem 1rem;
    }

    .navbar-light {
        .navbar-nav {
            .nav-link {
                &.active {
                    color: #C22032;
                    border-bottom: 3px solid #C22032;
                }

                &:hover {
                    color: #C22032;
                    border-bottom: 3px solid #C22032;
                }
            }

            .show {
                >.nav-link {
                    color: #000;
                    border-bottom: 3px solid #C22032;
                }
            }
        }
    }

    .navbar-nav {
        gap: 20px;
        grid-gap: 20px;
    }
}

.navbar-buttons {
    padding-left: 5rem;
    display: flex;
    gap: 10px;
    grid-gap: 10px;
}

.navbar-menu-title {
    font-size: 16px;
    color: #000;
}

.fixed-top {
    &.sticky {
        background-color: #FFFFFF;
        border-bottom: 1px solid #eee;

        .header-top {
            ul {
                li {
                    color: #000;
                }

                a {
                    color: #000;
                }
            }
        }

        .signin-size {
            height: 15px;
            width: 15px;
            filter: none;
        }

        .site-header {
            .navbar-light {
                .navbar-nav {
                    .nav-link {
                        color: #000;
                    }
                }
            }

            .navbar-toggler-icon {
                background-image: url('../images/navbar-toggler-icon.svg');
            }
        }

        .btn-outline-black {
            border: 1px solid #000;
        }
    }
}