.sect-services{
    margin-top: -40px;
    .card{
        box-shadow: 0 0 10px 5px rgba(206, 207, 254, 0.25);
        border-radius: 15px;
    }
    .services-icon{
        width:100px;
        height:100px;
    }
    a{
        text-decoration: none;
        font-family: "Montserrat-Medium";
        font-size: 10px;
        color:#C22032;
    }
    .arrow-img{
        width:20px;
        height:20px;
    }
    .d-flex-trade{
        justify-content: center;
        align-items: center;
        display: flex;
    }

}
.sect-demo{
    .card{
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ddd;
        margin-top: -120px;
    }
}