.Sect-Keyword {
    background-image: url('../images/keyword-watermark.svg'), url('../images/keyword-watermark2.svg'), url('../images/keyword-watermark.svg');
    background-size: 30%;
    background-position: 100% 0%, 0% center, 100% bottom;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.Sect-Keyword-title{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    .title{
        color: #ffffff;
    }
}
.block-lightorange{
    .accordion-item{
        background-color: unset;
        .accordion-button{
            background-color: unset;
        }
    }
}