.sect-streamline {
    background-color: #EDEDED;
    border-radius: 40px;
    height: 100%;
    padding: 2rem;

    .block-black2 {
        h3 {
            color: #FFFFFF;
            font-family: "Montserrat-Bold";
            font-size: 35px;
            letter-spacing: normal;

            span {
                font-family: "Montserrat-Bold";
            }
        }

        p {
            color: #FFFFFF;
            font-family: "Montserrat-Light";
        }
    }
}

.block-banner-landing {
    position: relative;

    .block-img {
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .content-landing {
        position: absolute;
        top: 30%;
        transform: translate(0, -50%);
        width: 100% !important;
        z-index: 5;
        text-align: center;
        padding: 0 2rem;
        left: auto;
        right: 0;
        margin: 0 auto;

        h1 {
            font-family: "Poppins-bold";
            font-weight: 700;
            line-height: 100%;
            color: #FFFFFF;
            font-size: 55px;
        }

        p {
            font-weight: 400;
            line-height: 1.5;
            color: #FFFFFF;
            margin-top: 20px;
            font-size: 20px;
        }

        .search-industry {
            margin: 25px auto 0;

            input {
                border-right: 0;
                border-radius: 0.375rem 0 0 0.375rem;
            }

            .btnsearch {
                width: 60px;
                height: 60px;
                border: none;
                border-radius: 0 0.375rem 0.375rem 0;
                padding: 1px;
                background: #FFFFFF;
                margin-left: 0;
            }
        }
    }
}

.stream-title {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Montserrat-Bold";
}

.block-white-border {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: -40px;

    h6 {
        color: #000000;
        font-size: 14px;
        font-family: "Montserrat-Bold";
    }

    p {
        font-family: "Roboto-Regular";
        color: #000000;
        font-size: 12px;
    }
}

.sect-landingapp {
    h4 {
        color: #000000;
        font-family: "Montserrat-SemiBold";
        font-size: 30px;
        letter-spacing: normal;
    }

    ul {
        padding-left: 0;
        list-style: none;
        color: #000000;

        li {
            padding: 15px 0;
            display: flex;
            gap: 10px;
            grid-gap: 10px;
            align-items: flex-start;

            img {
                width: 25px;
                height: 25px;
                margin-top: 3px;
            }
        }
    }
}

.our-stories-slider {
    .card {
        border: none;
    }

    label {
        font-family: "Montserrat-Regular";
        color: #666666;
        font-size: 12px;
    }

    h6 {
        font-family: "Montserrat-SemiBold";
        color: #000000;
        font-size: 16px;
    }

    p {
        font-family: "Montserrat-Regular";
        color: #333333;
        font-size: 14px;
    }

    .dividerstories {
        height: 0.7px;
        background-color: #C5C5C5;
        width: 100%;
    }

    span {
        font-family: "Roboto-Light";
        color: #666666;
        font-size: 14px;
    }

    a {
        font-family: "Montserrat-Medium";
        color: #111111;
        font-size: 14px;
        text-decoration: underline !important;

        &:hover {
            color: #C22032;
        }
    }

}

.stories-red-title {
    color: #C22032;
    font-family: "Montserrat-Bold";
    font-size: 35px;
    letter-spacing: normal;
}

.faq-stories {
    .accordion-flush {
        .accordion-item {
            box-shadow: 0 0 6px #ddd;
            margin-bottom: 15px;

            .accordion-button {
                &:not(.collapsed) {
                    color: #C22032;
                    background-color: #FFFFFF;
                }

                &:focus {
                    box-shadow: 0 0 0 0.25rem hsl(353deg 72% 44% / 25%)
                }
            }
        }
    }
}
.sect-faq {
    .accordion-flush {
        .accordion-item {
            box-shadow: 0 0 6px #ddd;
            margin-bottom: 15px;

            .accordion-button {
                &:not(.collapsed) {
                    color: #C22032;
                    background-color: #FFFFFF;
                }

                &:focus {
                    box-shadow: 0 0 0 0.25rem hsl(353deg 72% 44% / 25%)
                }
            }
        }
    }
}

.landing-app-block {
    background-color: #000000;

    .landing-white-title {
        color: #FFFFFF;
        font-size: 32px;
        font-family: "Montserrat-Bold";
    }

    .landing-white-para {
        color: #FFFFFF;
        font-size: 12px;
        font-family: "Montserrat-Regular";
    }
}

.showcase-app-block {
    position: relative;

    .content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 80%;
        z-index: 5;
        text-align: center;
        padding: 0 2rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #fff;
        text-align: left;

        .mobile-app-img {
            max-width: 300px;
            width: 100%;
            height: 456px;
        }
    }

    .showcase-app-block-img {
        img {
            width: 100%;
            height: 365px;
            object-fit: cover;
            object-position: top;
        }
    }

    h3 {
        font-family: 'Montserrat-Bold';
        font-size: 40px;
    }

    p {
        font-family: 'Montserrat-Light';
        font-size: 14px;
    }

    label {
        font-style: italic;
        font-size: 12px;
        font-family: 'Montserrat-Light';
        margin-top: 10px;
    }
}


.sect-lead-generation {
    label {
        color: #000000;
        font-size: 0.875rem;
    }

    h1 {
        font-family: "Montserrat-bold";
        font-weight: 700;
        line-height: 100%;
        color: #000000;
        font-size: 55px;

        span {
            font-family: "Montserrat-bold";
            font-weight: 700;
            line-height: 100%;
            color: #C22032;
            font-size: 55px;
        }
    }

    p {
        color: #000000;
        font-size: 1rem;
    }

    h5 {
        font-family: "Montserrat-Bold";
        color: #000000;
        font-size: 24px;
    }
}

.leading-img {
    width: 50px;
    height: 50px;
}

.leading-minus-margin {
    margin-left: -15px;

}

.black-bold-small {
    font-family: "Montserrat-Bold";
    color: #000000;
    font-size: 10px;
}

.black-bold-small-white {
    font-family: "Montserrat-Bold";
    color: #FFFFFF;
    font-size: 10px;
}

.leading-small-txt-white {
    font-family: "Montserrat-Regular";
    color: #FFFFFF;
    font-size: 10px;
}

.leading-lg-title {
    font-family: "Montserrat-SemiBold";
    color: #000000;
    font-size: 28px;

    span {
        color: #C22032;
    }
}

.Afeatures-icon {
    width: 80px;
    height: 80px;
}

.leading-xs-img {
    width: 50px;
    height: 50px;
}

.leading-redcheck-img {
    width: 25px;
    height: 25px;
}
.leading-center-img{
position: relative;
margin-top:-70px;

}
.landing-img-lovefieldweb{
    width:250px;
    height:250px;
}
.leading-center-imgsize{
    width:250px;
    height:100%;
}
.simplify-app-img{
    width:400px;
    height:350px;
}
.block-landing-white{
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgb(181 181 181 / 20%);
    padding: 10px;
    border-radius: 10px;
    color: #000000;

    h3 {
        font-family: "Montserrat-SemiBold";
    }

    span {
        font-family: "Montserrat-SemiBold";
    }
}

.singleplatform-app-block {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/singleplatform-bg.svg");
    background-repeat: no-repeat;

    h2 {
        font-family: "Montserrat-SemiBold";
    }
    h6 {
        font-family: "Montserrat-SemiBold";
    }
    
}
.singleplatform-landing-app-block{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../images/lightorange-back.svg");
    background-repeat: no-repeat;

    .single-platform-title{
        font-family: "Montserrat-SemiBold";
    }
    
}
.grey-small-txt{
    font-family: "Montserrat-SemiBold";
    color:#959595;
    font-size:10px; 
}
.modernui-red-title{
    font-family: "Montserrat-SemiBold";
    color:#C22032;
    font-size: 14px;
}
.best-simple-header{
    display:flex;
   margin-top: 1rem;
   justify-content: center;
   align-items: center;
   .txt-grey{
    color:#A0A0A0;
    font-family: "Montserrat-SemiBold";
    color: #959595;
    font-size: 10px;
}

.grey-small-txt {
    font-family: "Montserrat-SemiBold";
    color: #959595;
    font-size: 10px;
}
.price-discount {
    color: #C22032;
    font-size: 0.875rem;
    background-color: #F4F4F4;
    padding: 5px 10px;
    border-radius: 30px;
}

.landing-pricing-plan {
    background-color: #FFEFEF;
    border-radius: 8px;
    padding: 25px;

    &.default-pricing-plan {
        color: #FFFFFF;
        background-color: #C22032;

        h6 {
            color: #FFFFFF;
        }

        h2 {
            color: #FFFFFF;

            &:hover {
                color: #FFEFEF;
            }
        }

        .btn-red-white {
            background-color: #FFFFFF;
            border-radius: 50px;
            border: 1px solid #FFFFFF;
            color: #C22032;
            padding: 10px 45px;

            &:hover {
                background-color: transparent;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
                transition: background-color 0.5s ease;
            }
        }
    }

    h6 {
        font-family: "Montserrat-Bold";
        color: #000000;
        margin-bottom: 0;
    }

    label {
        font-size: 0.875rem;
    }
}



.landing-pricing {
    h2 {
        font-family: 'Montserrat-Bold';
        font-size: 50px;
        display: flex;
        align-items: baseline;
        gap: 5px;
        justify-content: center;
        transition: color 0.5s ease;

        small {
            font-size: 1rem;
        }

        &:hover {
            color: #C22032;
        }
    }
}


.pricing-landing-foot {
    ul {
        font-family: "Montserrat-Medium";
        font-size: 0.875rem;
        padding-left: 0;

        li {
            text-decoration: none;
            list-style: none;
            padding-top: 10px;

            img {
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
}


.btn-red-white {
    background-color: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #C22032;
    color: #C22032;
    padding: 10px 45px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: #C22032;
        border-radius: 50px;
        transition: .6s all;
        z-index: -1;
    }
    &:hover {
        // background-color: #C22032;
        // color: #FFFFFF;
        // transition: background-color 0.5s ease;
        color: #FFFFFF;
        &::before {
            width: 110%;
        }
    }
}

.link-red {
    color: #C22032;
}
.slider-landing {
    margin-top: 0 !important;
}

.landing-slider {
    margin-top: -45px;
}

.landing-grid {
    background-color: #FFF0F0;
    padding: 1rem;
    border-radius: 1.2rem;
    display: block;
    height: 100%;

    .video-thumbnail {
        position: relative;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 7px #e3e3e3;

        .play-overlay {
            opacity: 1;
        }

        .link-red-arrow {
            img {
                transform: translate(5px, 0px);
            }
        }
    }

    &:first-child {
        img {
            max-width: 100%;
            height: auto;
            border-radius: 1.5rem;
            display: block;
            position: relative;
        }
    }

    h4 {
        color: #000000;
        font-family: "Poppins-Semibold";
        font-size: 1rem;
        margin-top: 0.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 38px;
    }

    .link-red-arrow {
        display: flex;
        color: #C22032;
        font-size: 0.875rem;
        text-align: right;
        gap: 8px;
        justify-content: end;
        span{
            color: #C22032;
            font-size: 0.875rem;
        }
        img {
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            padding: 0;
        }

    }

    .play-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(0 0 0 / 35%);
        z-index: 1;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: rgb(255 255 255 / 32%);
            padding: 12px;
        }
    }

    .red-border-radius {
        background-color: transparent;
        color: #C22032;
        border: 1px solid #C22032;
        padding: 5px 20px;
        border-radius: 30px;
        font-family: "Montserrat-Medium";
        font-size: 13px;

    }

    span {
        color: #000000;
        font-size: 0.75rem;
    }
}
//Managing a field
.managing-grid {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1.2rem;
    display: block;
    box-shadow: 0 0 6px #ddd;

    .video-thumbnail {
        position: relative;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 7px #e3e3e3;

        .play-overlay {
            opacity: 1;
        }
        .link-red-arrow{
            img {
                transform: translate(5px, 0px);
            }
        }
    }

    
    h4 {
        color: #000000;
        font-family: "Poppins-Semibold";
        font-size: 1rem;
        text-align: center;
        margin-top: 15px;
    }

    .link-red-arrow {
        display: flex;
        color: #C22032;
        font-size: 16px;
        text-align: center;
        gap: 8px;
        justify-content: center;
        font-family: "Montserrat-Bold";

        img {
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            padding: 0;
        }

    }

    .play-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(0 0 0 / 35%);
        z-index: 1;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background: rgb(255 255 255 / 32%);
            padding: 12px;
        }
    }

    .red-border-radius {
        background-color: transparent;
        color: #C22032;
        border: 1px solid #C22032;
        padding: 5px 20px;
        border-radius: 30px;
        font-family: "Montserrat-Medium";
        font-size: 13px;

    }

    span {
        color: #000000;
        font-family: "Montserrat-Regular";
        font-size: 12px; 
    }
}
// Download background animation


.row_am {
    padding: 50px 1px;
}

.download_section {
    position: relative;
    .center_screen {
        text-align: center;
        z-index: 999;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .img{
            img{
                max-width: 600px;
                height: 662px;
                object-fit: contain;
                width: 100%;
            }
        }
    }

    .app_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    ul,
    li {
        padding: 0;
        list-style-type: none;
        margin: 0;
    }

    .background_slider {
        padding: 140px 0;
    }

    .download_slider {
        transform: rotate(-1.5deg);
        padding: 20px 0;

        .downlist {
            display: flex;
            width: 100%;
            overflow: hidden;
        }
    }
    .text_block {
        display: flex;
        align-items: center;

        span {
            position: relative;
            color: #ddd8cf;
            font-size: 50px;
            font-family: 'Montserrat-SemiBold';
            font-weight: 700;
            line-height: 1;
        }

        .mark_star {
            margin: 0 60px;
            font-family: 'Montserrat-SemiBold';
        }

    }
    .slider_block{
        .text_block {
            span {
                color: #FFFFFF;
            }
            .mark_star {
                margin: 0 12px;
            }
        }
    }
}

.text_list_section {
    .slider_block {
        background-color: #000000;
        padding: 20px 0;
        transform: rotate(-1.5deg);
        /* pointer-events: none; */
        width: 100%;
        overflow-x: hidden;
    }
}



// Customer Say
.sect-customer-say {
    background-image: url('../images/avtar_testimonial.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.customer-say {
    margin: 10px;

    .say-card {
        padding: 0px 0;
        max-width: 70%;
        margin: 0 auto;

        p {
            color: #000000;
            line-height: 25px;
            font-size: 1rem;
        }

        h5 {
            font-family: "Montserrat-SemiBold";
            color: #000000;
            margin-bottom: 0;
        }

        .customer-say-img {
            display: flex;
            justify-content: center;

            img {
                width: 170px;
                height: 170px;
                object-fit: contain;
            }
        }

        .small-para {
            font-family: "Montserrat-Regular";
            color: #000000;
            font-size: 14px;
        }

        .star-txt {
            font-family: "Montserrat-SemiBold";
            color: #000000;
            font-size: 14px;
        }
    }

    .sect-rating {
        ul {
            li {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.card-request-landing {
    .card {
        border: none;
        box-shadow: 0 4px 8px rgb(181 181 181 / 20%);
    }
}

.lead-gen-img {
    max-width: 500px;
    height: 600px;
    object-fit: contain;
    width: 100%;
}

.fw-app-img {
    max-width: 430px;
    height: 460px;
    object-fit: contain;
    width: 100%;
}

.platform-app-img {
    max-width: 651px;
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.sect-app-features {
    h6 {
        font-family: "Montserrat-Bold";
        color: #000000;
        font-size: 1.125rem;
        margin-top: 0.5rem;
    }

    .block-lightorange {
        p {
            font-size: 0.75rem;
            ;
        }
    }

    .Afeatures-app-img {
        max-width: 309px;
        max-height: 616px;
        width: 100%;
        height: auto;
        margin-top: -85px;
    }
}

.sect-companies {
    h2 {
        color: #000000;
        font-family: 'Montserrat-SemiBold';
        font-size: 45px;
        letter-spacing: normal;
        text-align: center;

        span {
            display: block;
            color: #C22032;
            font-family: 'Montserrat-SemiBold';
            font-size: 45px;
            letter-spacing: normal;
        }
    }

    img {
        max-width: 160px;
        height: 80px;
        width: 100%;
        margin-bottom: 10px;
        object-fit: contain;
    }
}

.lp-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
#faqlist {
    .accordion-button {
        font-family: "Montserrat-Medium";
        font-weight: 600;
    }
}
#DownloadTxtCarousel {
    .owl-stage-outer{
        height: 55px;
    }
}