.main-carousel {
    .carousel-caption {
        position: absolute;
        left: auto;
        bottom: 1.25rem;
        right: auto;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: left;
        top: 50%;
        transform: translate(0, -50%);
        max-width: 50%;
    }

    .carousel-caption-feature {
        position: absolute;
        left: 5%;
        bottom: 1.25rem;
        right: auto;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: left;
        top: 30%;
        transform: translate(0, -50%);
        max-width: 50%;
    }
}

.industry-slider {
    .carousel-indicators {
        bottom: -50px;
    }

    .carousel-dark {
        .carousel-indicators [data-bs-target] {
            background-color: #C22032;
            border-radius: 30px;
        }
    }

    .carousel-dark {
        .carousel-indicators [data-bs-target] {
            background-color: #C22032;
            border-radius: 30px;
        }
    }

    .carousel-indicators {
        .active {
            opacity: 2;
        }
    }

    .carousel-indicators [data-bs-target] {

        width: 10px;
        height: 10px;
        border-top: 0;
        border-bottom: 0;
        transition: opacity .6s ease;
    }

}

.getdemo-modal {
    .modal-header {
        border-bottom: 0;
    }
}

.modal-title {
    font-family: "Poppins-semibold";
}

.modal-header {
    .btn-close {
        margin: 0 !important;
    }
}

#accordionservice {
    .accordion-button {
        color: #FFFFFF;

        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        &::after {
            background-image: url('../images/chevron-down-icon-wh.svg');
            margin-top: 5px;
        }
    }
}

.currency-switch {
    &.form-check {
        padding-left: 0;
        display: flex;
        align-items: center;
        gap: 5px;
        grid-gap: 5px;

        .form-check-input {
            float: none;
            margin-left: 0;
            width: 3em;
            height: 1.5em;
            cursor: pointer;
            margin-top: 0;
            &:checked {
                background-color: #C22032;
                border-color: #C22032;
            }

            &:focus {
                --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
                border-color: #c9c9c9;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgb(201 201 201 / 25%)
            }
        }
    }

    span {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
    }
}
.site-header {
    .navbar-toggler{
        border:none;
        margin: 0 0 0 10px;
        padding: 0;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .navbar-toggler-icon{
        background-image: url('../images/navbar-toggler-icon.svg');
        width: 29px;
        height: 19px;
    }
}