.sect-pricing {
    background-color: #FFEEF0;
    position: relative;
    height: 670px;
    margin-top: 250px;

    .row {
        position: absolute;
        max-width: 1180px;
        width: 100%;
        left: 0;
        right: 0;
        margin: -200px auto 0;
    }

    .pricing-plan {
        border: 2px solid #CAD7DC;
        border-radius: 6px;
        text-align: center;
        background-color: #fff;

        &:hover {
            box-shadow: 0px 10px 10px #ddd;
            cursor: default;
            border: 2px solid #C22032;

            h2 {
                color: #C22032;
            }
        }

        .pricing-plan-head {
            border-bottom: 0;
            margin-top: 1rem;
            padding: 1rem;

            h3 {
                font-family: 'Montserrat-Bold';
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                grid-gap: 5px;

                &::before {
                    content: "";
                    background-image: url('../images/circle-gray.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60%;
                    border: 2px solid #4D6974;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                }
            }
        }

        .pricing-plan-body {
            ul {
                list-style: none;
                text-decoration: none;
                padding-left: 0;
                padding: 0 1rem 1rem;

                li {
                    padding: 5px;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        background-image: url('../images/circle-black.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 78%;
                        border: 1px solid #000000;
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }

            h2 {
                font-family: 'Montserrat-Bold';
                font-size: 50px;
                display: flex;
                align-items: baseline;
                gap: 5px;
                grid-gap: 5px;
                justify-content: center;
                transition: color 0.5s ease;

                small {
                    font-size: 1rem;
                }
            }

            .prod-user {
                display: flex;
                align-items: center;
                gap: 5px;
                grid-gap: 5px;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .pricing-plan-foot {
            background: #C22032;
            color: #fff;
            padding: 25px 15px;
            border-radius: 0 0 3px 3px;

            p {
                text-align: left;
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                text-decoration: none;
                padding-left: 0;

                li {
                    text-align: left;
                    padding: 5px 0;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        &.popular-plan {
            border: 2px solid #C22032;
            position: relative;

            .pricing-plan-head {
                span {
                    background-color: #C22032;
                    padding: 5px;
                    border: none;
                    color: #fff;
                    position: absolute;
                    top: -18px;
                    width: 70%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }
}

.cust-feedback-slider2 {
    background-color: #FFE2E6;
    border-radius: 25px;
    width: 85%;
    margin: -100px auto 0;

    .slick-list {
        padding: 30px 20px;
    }

    .custf-details {

        // display: flex;
        .row {
            align-items: center;

            .custf-prof {
                text-align: center;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto 10px;
                }

                h6 {
                    font-family: "Montserrat-Medium";
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }

            .custf-content {
                h4 {
                    font-family: "Montserrat-bold";
                    font-size: 25px;
                    margin-bottom: 15px;
                }

                p {
                    line-height: 30px;
                }
            }
        }
    }
}

.sect-addons {
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
    padding: 40px;
    cursor: default;

    img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.2rem;
    }
}

.sect-trustedby {
    .row {
        &:first-child {
            .col-md-6 {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.custf-details {
    padding: 20px;
}

.Multiselect_Dropdown {
    .btn {
        width: 100%;
        text-align: left;
        border: 1px solid #dee2e6;
        border-radius: 0;

        &::after {
            position: absolute;
            right: 10px;
            top: 45%;
        }
    }

    .dropdown-menu {
        width: 100%;
        border-radius: 0;

        li {
            padding: 3px 10px;
        }
    }
}

.sect_currency {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.ppm-lbl-most-popular {
    background-color: #C22032;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: none;
}
.pricing-plan-mob {
    display: flex;
    cursor: pointer;
    margin-bottom: 1.5rem;

    h3 {
        font-family: "Montserrat-Bold";
        font-size: 1.1rem;

        &::before {
            content: "";
            background-image: url('../images/circle-gray.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
            border: 2px solid #4D6974;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: block;
            margin-bottom: 5px;
        }
    }

    .sect-lft-pricing-plan {
        background-color: #E0E0E0;
        padding: 10px;
        flex-basis: 150px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        .prod-user {
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    .sect-rgt-pricing-plan {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-basis: 85%;
        background-color: #FFFFFF;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;

        h2 {
            font-family: "Montserrat-Bold";
            font-size: 50px;
            display: flex;
            align-items: baseline;
            gap: 5px;
            grid-gap: 5px;
            justify-content: center;
            transition: color 0.5s ease;
            flex-wrap: wrap;

            small {
                font-size: 1rem;
            }
        }

        .pp-collapsearrow {
            background-color: #C22032;
            padding: 5px;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 8px;

            img {
                width: 17px;
                height: 17px;
            }
        }
    }
}

.pricing-plan {
    &.collapse:not(.show) {
        display: block;
    }
}

.pricing-plan-mob {
    display: none;
}
.popular-pricing-plan-mob{
    .pricing-plan-mob {
        .sect-lft-pricing-plan {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 7px;
        }
        .sect-rgt-pricing-plan {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 7px;
        }
    }
}