@media only screen and (max-width: 1440px) {
    body {
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 20px;
        }

        h6 {
            font-size: 16px;
        }
    }

    .main-Wrapper {
        max-width: 1280px;
        width: 100%;
        padding: 0 1rem;
    }

    .site-header {
        max-width: 1280px;
        width: 100%;
        padding: 0 1rem;
    }

    .sect-demo .block-lightorange {
        max-width: 1280px;
        width: 100%;
    }
    .talk-aboutService-slider{
        .slick-prev {
            left: 0!important;
        }
        .slick-next {
            right: 0!important;
        }
    }
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 0.875rem !important;
    }

    .form-control {
        font-size: 0.875rem !important;
    }

    .navbar-buttons {
        padding-left: 2rem;
    }

    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding-right: 0.3rem !important;
                padding-left: 0.3rem !important;
            }
        }
    }

    .btn-outline-black {
        padding: 8px 8px;
    }

    .site-header .navbar-nav {
        gap: 17px;
        grid-gap: 17px;
    }
    .block-landing-grey {
        height: auto!important;
    }
    
}

@media only screen and (max-width: 1024px) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding-right: 0.2rem !important;
                padding-left: 0.2rem !important;
            }
        }
    }

    .site-header .navbar-nav {
        gap: 15px;
        grid-gap: 15px;
    }

    .navbar-buttons {
        padding-left: 1rem;
    }
    .icon-80 {
        width: 60px;
        height: 60px;
    }
    .download_section {
        .text_block {
            span{
                font-size:30px!important;
            }
        }
    }
    #DownloadTxtCarousel {
        .owl-stage-outer{
            height: 30px!important;
        }
    }
    .download_section {
        .text_block {
            .mark_star {
                margin: 0 20px!important;
            }
        }
    }
    .star-landing-rating {
        ul {
            li {
                padding: 0 0px;
            }
        }
    }
}

@media (max-width: 991.5px) {
    .sect-transresults h3 {
        font-size: 30px;
    }
    .site-header{
        .header-top{
            display: none;
        }
        .navbar {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .mt-116 {
        margin-top: 80px !important;
    }
    .main-carousel {
        margin-top: 80px;
    }
    .showcase-app-block {
        h3 {
            font-size: 30px!important;
        }
    }
    .showcase-app-block .content {
        max-width: 100% !important;
    }
    .showcase-block-outer {
        .showcase-block{
            padding: 35px 0px 100px;
            background-size: 50%;
        }
    }
}


@media only screen and (max-width: 768px) {
    .block-lg-lightorange {
        margin: 20px;
    }

    .main-carousel {
        .carousel-item {
            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: top;
            }

            .carousel-caption {
                max-width: 100%;
                right: 5%;
                left: 5%;
            }
        }
    }

    .btn-getstarted {
        padding: 12px 20px;
    }

    .sect-transresults {
        .row {
            .col-md-7 {
                margin-top: 2rem;
            }
        }
    }

    .sect-demo {
        .block-lightorange {
            .sect-demo-email {
                display: block;
                width: 90%;
                margin: 25px auto;

                .form-control {
                    margin-bottom: 10px;
                    padding: 12px;
                }
            }

            .btn-getstarted-blk {
                width: 100%;
            }
        }

        .sect-demo-cn {
            p {
                &.cn-google {
                    font-size: 1.5rem;
                }

                &.cn-playstore {
                    font-size: 1.2rem;
                }

                &.cn-capterra {
                    font-size: 0.9rem;
                }

                &.cn-sofadvice {
                    font-size: 0.6rem;
                }
            }
        }
    }

    .sect-rating {
        ul {
            li {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    footer {
        .col-md-2 {
            margin-bottom: 2rem;
        }
    }

    .main-carousel {
        .carousel-caption {
            h1 {
                font-size: 40px;
            }
        }
    }

    .store-links {
        li {
            a {
                margin-bottom: 0.5rem;
            }
        }
    }

    .feature-section {
        .row {
            .col-md-3 {
                margin-bottom: 0.5rem;
            }
        }
    }

    .sect-demo {
        .card {
            margin-top: 40px !important;
        }
    }

    .banner-block {
        .content {
            max-width: 100%;
        }
    }

    .sect-demo h2 {
        .drawn-underline {
            background-position: center 36px;
            text-wrap: nowrap;
        }
    }

    .client-review {
        .review-card {
            .review-card-content {
                padding: 20px 0;
                max-width: 100%;
            }
        }
    }

    .client-review {
        .review-card {
            .sect-rating {
                ul {
                    li {
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

    .custom-tabs {
        .tab-content {
            .tab-pane {
                .row {
                    &:first-child {
                        .col-md-6 {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
    }

    .banner-block {
        .block-img {
            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            h1 {
                line-height: 45px;
                font-size: 40px;
            }
        }
    }

    .sect-demo {
        &.mt-20 {
            margin-top: 8.75rem;
        }
    }

    .banner-block-lft {
        .block-img {
            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            h1 {
                line-height: 45px;
                font-size: 40px;
            }
        }
    }

    .banner-block-rht {
        .block-img {
            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            max-width: 100%;

            h1 {
                line-height: 45px;
                font-size: 40px;
            }
        }
    }

    .m-mb-5 {
        margin-bottom: 3rem !important
    }

    .learnmore-block-outer .learnmore-block {
        padding: 35px 0px;
        background-size: 40%;
    }

    .blog-slider {
        .row {
            &:first-child {
                .col-md-6 {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .sect-floating {
        margin-top: 3rem;
    }

    .sect-conthelp {
        .row {
            &:first-child {
                .col-md-6 {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .sect-socialmedia {
        .row {
            .col-md-3 {
                margin-bottom: 2rem;
            }
        }

        .block-lg-lightorange {
            margin: 0;
        }
    }

    .sect-map {
        margin-bottom: 2rem;

        iframe {
            height: 400px;
        }
    }

    .sect-pricing {
        height: auto !important;
        margin-top: unset !important;
        padding: 30px 0;

        .row {
            position: relative !important;
            margin: 0 auto 0 !important;
        }
    }

    .cust-feedback-slider2 {
        margin: 0 auto 0 !important;
    }

    .sect-addons {
        .row {
            .col-md-4 {
                margin-bottom: 2rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .sect-oneapp {
        .row {
            .col-md-3 {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .sect-homeservice {
        .homeservice-desc {
            line-height: 20px;
        }
    }
    .sect-oneapp {
        .grid-list {
            width: 100%;
        }
    }
    .sect-wcu{
        .block-lightorange{
            padding: 1rem!important;
        }
        .row{
            .col-md-6{
                &:first-child{
                    margin-bottom: 3rem;
                }
            }
        }
    }
    .sect-about{
        .row{
            .col-md-5{
                margin-bottom: 2rem;
            }
        }
    }
    .banner-block-center {
        .content {
            h1 {
                font-size: 35px;
            }
        }
    }
    .banner-block-center {
        .content {
            max-width: 100%;
        }
    }
    .sect-streamline{
        .row{
            .col-md-7{
                margin-bottom: 2rem;
            }
        }
    }
    .our-stories-slider{
        .slick-arrow{
            display: none!important;
        }
    }
    .talk-aboutService-slider{
        .slick-arrow{
            display: none!important;
        }
    }
    .showcase-app-block {
        .content{
            max-width: 100%!important;
        }
    }
    .showcase-app-block {
        h3 {
            font-size: 24px;
        }
    }
    .showcase-app-block {
        .content {
            .mobile-app-img{
                position: relative!important;
                transform: none!important;
            }
        }
    }
    .sect-lead-generation {
        h1 {
            font-size: 40px!important;
            span{
                font-size: 40px!important;
            }
        }
    }
    .sect-app-features {
        .Afeatures-app-img {
            margin: 1rem 0 !important;
        }
    }
    .sect-aboutapp{
        .row{
            .col-md-5{
                margin-bottom: 2rem;
            }
        }
    }
    .sect-app-features{
        .text-end {
            text-align: center!important;
        }
        .text-start {
            text-align: center!important;
        }
    }
    .sect-customer-say{
        background-image: none!important;
    }
    #DownloadTxtCarousel {
        .owl-stage-outer {
            height: 30px!important;
        }
    }
    .download_section {
        .text_block {
            span {
                font-size: 30px!important;
            }
            .mark_star {
                margin: 0 20px!important;
            }
        }
    }
    .download_section {
        .background_slider {
            padding: 25px 0!important;
        }
    }
    .sect-companies {
        h2 {
            font-size: 35px!important;
            span {
                font-size: 35px!important;
            }
        }
    }
    .sect-companies{
        padding: 1.5rem!important;
    }
    .sect-lead-generation{
        .text-end {
            text-align: center!important;
        }
    }
    .block-landing-grey {
        h1 {
            font-size: 40px!important;
            span{
                font-size: 40px!important;
            }
        }
    }
    .block-lightgrey {
        &.p-5 {
            padding: 2rem!important;
        }
        .row{
            .col-md-6{
                margin-bottom: 3rem;
            }
        }
    }
    .block-grey{
        .row{
            .col-md-6{
                &:first-child{
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .singleplatform-landing-app-block{
        .row{
            .col-md-6{
                &:first-child{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .learnmore-block-outer .learnmore-block {
        padding: 35px 0px 115px;
        background-size: 320px;
    }
}

@media only screen and (max-width: 580px) {
    .dsk-fwlogo {
        display: none;
    }

    .mob-fwlogo {
        display: block;
    }

    .home-service-item {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .sect-oneapp {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .sect-socialmedia {
        .row {
            .col-md-3 {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .sect-socialmedia {
        .block-lg-lightorange {
            p {
                min-height: 75px !important;
            }
        }
    }
    .desk-contactdetails{
        display: none!important;
    }
    .mob-contactdetails{
        display: block!important;
    }
    .showcase-app-block {
        .content {
            position: relative !important;
            transform: none!important;
            text-align: center!important;
            .col-md-5{
                .d-flex{
                    justify-content: center;
                }
                margin-bottom: 3rem;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .home-service-item {
        img {
            width: 40px;
            height: 40px;
        }
    }

    .sect-oneapp {
        img {
            width: 40px;
            height: 40px;
        }
    }

    .sect-rating {
        ul {
            li {
                padding: 0 2px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .sect-demo {
        .sect-demo-cn {
            p {
                &.cn-google {
                    font-size: 1.2rem;
                }

                &.cn-playstore {
                    font-size: 0.9rem;
                }

                &.cn-capterra {
                    font-size: 0.6rem;
                }

                &.cn-sofadvice {
                    font-size: 0.5rem;
                }
            }
        }
    }

    .fw-att-features {
        gap: 5px;

        p {
            font-size: 12px;
        }
    }

    .navbar-buttons {
        padding-left: 0rem;
    }
    .customer-say {
        .say-card {
            .customer-say-img {
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
        }
    }

    .social-grid-block {
        padding: 0.5rem;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
    .sect-rating-review {
        padding: 12px;
    }
    footer {
        .social-links {
            li {
                a {
                    img {
                        width: 35px!important;
                        height: 35px!important;
                    }
                }
            }
        }
    }
    .store-links {
        li {
            a {
                img {
                    width: 75px;
                    height: 26px;
                }
            }
        }
    }
    .leader-desk-grid {
        width: 100%!important;
    }
    .block-black {
        padding: 20px;
    }
    .download_section {
        .text_block {
            span {
                font-size: 20px!important;
            }
            .mark_star {
                margin: 0 20px!important;
            }
        }
    }
    #DownloadTxtCarousel {
        .owl-stage-outer {
            height: 20px!important;
        }
    }
    .download_section{
        .store-links2{

        }
    }
    .sect-app-features{
        .w-50 {
            width: 100%!important;
        }
    }
}

@media only screen and (max-width: 420px) {
    .sect-rating {
        ul {
            li {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .sect-transresults h3 {
        font-size: 25px;
    }

    body {
        font-size: 0.75rem !important;
    }

    .mob-fwlogo {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .mt-116 {
        margin-top: 60px !important;
    }
    .main-carousel {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 380px) {
    .main-carousel {
        .carousel-caption {
            h1 {
                font-size: 35px;
            }

            p {
                font-size: 16px;
            }
        }
    }
    .banner-block-center {
        .content {
            h1 {
                font-size: 35px;
            }
        }
    }

    .title {
        font-size: 28px;

        span {
            font-size: 28px;
        }
    }

    .title-mont-semibold {
        font-size: 28px;
    }

    .title-red {
        font-size: 18px;
    }

    .home-service-item {
        p {
            word-break: break-all;
        }
    }

    .home-service-item {
        gap: 0.5rem;
    }

    .navbar-buttons {
        .btn-red {
            padding: 8px;
        }
    }

    .site-header {
        .navbar-brand {
            margin-right: 0.4rem;
        }
    }
}