@media (min-width: 992px){
.main-header-navbar{
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 0.5rem;
}
}
}

@media only screen and (max-width: 768px) {
    .block-lightorange{
        height:800px;
    }
    .block-lg-lightorange{
        // height:550px;
        // width:100%;
        margin:20px;
    }
    
  }