.color-white {
  color: #FFFFFF;
}

.main-carousel {
  padding-top: 130px;
}

.title-red {
  color: #C22032;
  font-family: "Montserrat-Medium";
  font-size: 20px;
  letter-spacing: 2px;
}

.title-sm-red {
  color: #C22032;
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

.title {
  color: #000000;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  letter-spacing: normal;
}

.title-xls {
  color: #000000;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  letter-spacing: normal;
}

.title-sm {
  color: #000000;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  letter-spacing: normal;
}

.title-sm-para {
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 10px;
  letter-spacing: normal;
}

.block-light {
  background-color: #F9F9F9;
  padding: 35px;
  margin: 20px;
}

.darkgrey-block {
  background-color: #D9D9D9;
  height: 300px;
}

.title-lg-para {
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 14px;
  line-height: 180%;
}

.title-md {
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 14px;
}

.title-semibold {
  color: #000000;
  font-family: "Montserrat-SemiBold";
  font-size: 28px;
  letter-spacing: normal;
}

.title-medium {
  color: #000000;
  font-family: "Montserrat-Medium";
  font-size: 12px;
  letter-spacing: normal;
}

.btn-center-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}

.block-grey {
  background-color: #F9F9F9;
  padding: 35px;
}

.block-darkgrey-radius {
  background-color: #EDEDED;
  border-radius: 10px;
}

.block-black {
  background-color: #000000;
  height: 400px;
}

.block-lightorange {
  background-color: #FFF2F4;
  border-radius: 10px;
  height: 300px;
}

.block-lg-lightorange {
  background-color: #FFF2F4;
}

.red-title-bold {
  color: #C22032;
  font-family: "Montserrat-Bold";
  font-size: 35px;
  letter-spacing: normal;
}

.block-lg-lightorange-noborder {
  background-color: #FFF2F4;
  margin: 60px;
}

.background-card {
  background-image: url("../images/fieldservicebackground.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.background-dots {
  background-image: url("../images/dotsbackground.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-name {
  font-family: "Poppins-medium";
  color: #000000;
  font-size: 12px;
  line-height: 150%;
}

.card-smalltxt {
  font-family: "Poppins-regular";
  color: #000000;
  font-size: 10px;
}

.card-smallpara {
  font-family: "Poppins-regular";
  color: #000000;
  font-size: 8px;
}

.card-smalltitle {
  font-family: "Poppins-regular";
  color: #000000;
  font-size: 16px;
}

.black-sm-title {
  color: #000000;
  font-family: "Poppins-regular";
  font-size: 14px;
}

.checkedstar {
  color: #C22032;
}

.uncheckedstar {
  color: #FFFFFF;
}

.rating {
  font-size: 30px;
}

.title-poppins-bold {
  font-family: "Poppins-SemiBold";
  color: #000;
  font-size: 14px;
}

.pointer-cursor {
  cursor: pointer;
}

.grey-ouline-block {
  border: 1px solid #CDCDCD;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.d-flex-common {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Poppins-light";
  src: url("./../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("./../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-bold";
  src: url("./../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("./../fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-medium";
  src: url("./../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./../fonts/Montserrat/Montserrat-Medium.ttf");
}
.btn-outline-black {
  color: #000;
  border-color: 0;
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins-regular";
  padding: 8px 15px;
  outline: none;
  display: inline-block;
  gap: 5px;
  align-items: center;
}

.btn-outline-red {
  color: #FFF;
  border-radius: 0;
  background: #C22032;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins-regular";
  padding: 8px 15px;
  outline: none;
  display: inline-block;
  gap: 5px;
  border: 1px solid #C22032;
  align-items: center;
}

.header-top {
  text-align: right;
  padding-top: 10px;
  background-color: #fff;
}
.header-top ul {
  list-style: none;
  margin-bottom: 0;
}
.header-top ul li {
  display: inline-block;
  font-family: "Poppins-medium";
  color: #000;
}
.header-top ul a {
  text-decoration: none;
  font-family: "Poppins-medium";
  color: #000;
}

.signin-size {
  height: 15px;
  width: 15px;
}

.main-header-navbar .navbar-light .navbar-nav .nav-link {
  color: #000;
}
.main-header-navbar .navbar {
  padding-top: 0;
  box-shadow: 0 1px 1px #C7C7C7;
}
.main-header-navbar .nav-link {
  padding: 0.1rem 1rem;
}
.main-header-navbar .navbar-light .navbar-nav .nav-link.active, .main-header-navbar .navbar-light .navbar-nav .show > .nav-link {
  color: #000 !important;
  border-bottom: 2px solid #C22032;
  width: fit-content;
}

.navbar-text {
  padding-left: 5rem !important;
}

.navbar-menu-title {
  font-size: 16px;
  font-family: "Poppins-regular" !important;
  color: #000 !important;
}

@media (min-width: 992px) {
  .main-header-navbar .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .block-lightorange {
    height: 800px;
  }
  .block-lg-lightorange {
    margin: 20px;
  }
}
* {
  font-family: "Poppins-regular";
}

html, body, p, span, ul, li {
  margin: 0;
  padding: 0;
}

body p {
  margin: 0;
}

ul {
  margin: 0 !important;
}
ul li {
  list-style: none;
}

svg {
  color: #333333;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #000000 !important;
  font-size: 14px;
}

.card {
  border: 0 !important;
}

.industry-slider .carousel-indicators {
  bottom: -50px;
}
.industry-slider .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #C22032;
  border-radius: 30px;
}
.industry-slider .carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #C22032;
  border-radius: 30px;
}
.industry-slider .carousel-indicators .active {
  opacity: 2;
}
.industry-slider .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-top: 0;
  border-bottom: 0;
  transition: opacity 0.6s ease;
}

.getdemo-modal .modal-header {
  border-bottom: 0;
}

.white-square-image {
  height: 350px;
  width: 350px;
}

.white-block {
  padding: 15px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.leader-desk-header .card {
  border-radius: 10px;
}
.leader-desk-header img {
  width: 80px;
  height: 80px;
}
.leader-desk-header .leader-name {
  color: #000000;
  font-family: "Montserrat-SemiBold";
  font-size: 12px;
  letter-spacing: normal;
}
.leader-desk-header .leader-info {
  width: 250px;
  color: #000000;
  font-family: "Montserrat-regular";
  font-size: 8px;
  letter-spacing: normal;
  text-align: left;
}
.leader-desk-header .flex-start {
  align-items: flex-start;
}
.leader-desk-header .icon-img {
  width: 20px;
  height: 20px;
}

.heading img {
  height: 200px;
}
.heading .info-circle-img {
  height: 15px;
  width: 15px;
}
.heading .tooltip-inner {
  background-color: grey !important;
}
.heading .tooltip .tooltip-arrow {
  display: none;
}

label {
  display: inline-block;
  width: 5em;
}

.footer-menu {
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Poppins-semibold";
}

.footer-submenu {
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Poppins-regular";
}

footer ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
footer ul li {
  padding: 10px 0;
  display: block;
  font-family: "Poppins-medium";
  color: #FFFFFF;
}
footer ul li a {
  text-decoration: none;
  font-family: "Poppins-medium";
  color: #FFFFFF !important;
}
footer .email-text a {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Poppins-regular";
}

/*# sourceMappingURL=style.css.map */
